* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  /* border: border-box; */
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  color: #2e2f42;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  max-width: 1158px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================ICONS============ */

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-icon-list {
  gap: 16px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.icon-phas {
  fill: #f4f4fd;
}
.icon-media {
}
/*--------==============  header  ================-------*/

.header {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  background-position: center;
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-right-part {
  color: #2e2f42;
}

.header-contant-box {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .header-nav-item {
  
} */

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.current::after {
  content: "";
  display: block;
  line-height: 2px;
  position: absolute;

  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-adress {
  font-style: normal;
  display: flex;
}

.header-adress-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .header-adress-item {
  
} */

.header-adress-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* ========================  HERO   =========================== */

.hero-section {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-size: cover;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_img/people_office_light.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-header {
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* =====================  Advantage   ========================== */

.advant-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .advant-box {
  display: flex;
  flex-direction: column;
} */

/* .advant-header {
  
} */

.advant-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.advant-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advant-item-header {
  line-height: 1.2;
  margin-bottom: 8px;
}

.advant-item-text {
  /* background-color: #ffffff; */
  font-size: 16px;
}

.advant-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.advant-icon {
  /* fill: #4d5ae5; */
}

/* ====================  Team  ========================== */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .team-box {
  display: flex;
  flex-direction: column;
} */

.team-header {
  margin-bottom: 72px;
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-id {
  padding: 32px 0;
}

.team-item-header {
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
}

/* ================   Portfolio   ==================== */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .portfolio-box {
  display: flex;
  flex-direction: column;
} */

.portfolio-header {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-imag-box {
  position: relative;

  overflow: hidden;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
  color: #f4f4fd;
}

.portfolio-overlay-text {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-id {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-header {
  line-height: 1.2;
  margin-bottom: 8px;
}

/* .portfolio-item-text {
 
} */

/* ========================  footer  ====================== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-box {
  /* background-color: #2e2f42; */
  display: flex;
  align-items: baseline;
}

.footer-box-logoplusp {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon-box {
}
.footer-icon-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/* icon rules in the team box */
